@import "../../../../../../style/configs/color";

@import "./Mobile.css";
@import "./Desktop.css";
ul {
  list-style: none;
  li {
    display: inline-block;
  }
}
.journey {
  .container {
    label {
      + div {
        &::before {
          border-bottom: 2px solid #e5e5e5!important;
        }
        &::after {
          border-bottom: 2px solid $brand-color;
        }
      }
    }
    > div {
      > div {
        > div {
          label.Mui-focused {
            color: $brand-color;

          }
        }
      }
    }
  }
}

.main{
  margin-top: 6.8vw;
  margin-bottom: 18vw;
}
.titleBlock{
  margin-top:40px;    
  margin-bottom:60px;    
}

.title {
  /*font-size: 50px;*/
  max-width: 538px;
  /*line-height: 56px;
  /*font-weight: normal;*/
  margin-bottom: 0px;

  color: #000000;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.2px;
  font-weight: bold;
  span {
    width: 152px;
    display: block;
    margin-top: 20px;
    border: 3pt solid #a24a87;
    border-radius: 16px;
  }
}

.schoolsBlock {
  height: 36px;
  color: #4A494B;
  font-family: "Muli";
  font-size: 24px;
  line-height: 36px;
}

.headerIphone {
  padding-top: 136px;
  div {
    text-align: right;
  }
  img {
    max-height: 660px;
  }
}

@media only screen and (max-width: 768px)  {
  .titleBlock {
    margin-bottom: 0px;    
  }
  .title {
    font-size: 25px;
    line-height: 30px;
  }
}