@import "../../../../../style/configs/color";
@import "../../../../../style/configs/variables";

.main{
  margin-top: 6.8vw;
  margin-bottom: 18vw;
}
.titleBlock{
  margin-top:40px;    
  margin-bottom:60px;    
}
.title{
  color: #000000;
  font-size: 50px;
  line-height: 60px;
  letter-spacing: 0.2px;
  font-weight: bold;
}
.subtitle{
  color: #4A494B;
  font-size: 15px;
  line-height: 30px;
}

.subtitleRed {
  font-weight: bold;
  color: #C75561;
  font-size: 20px;
}

.contactWrapper {
  height: 100%;
  display: flex;
  align-items: center;
}

.redText {
    color: #C75561;
    font-family: Muli;
    font-size: 15px;
    line-height: 24px;
}

.spacing {
    height: 150px;
}

.thumbnail {
    color: #1A191A;
    font-family: "Muli";
    font-size: 24px;
    line-height: 36px;
    text-align: center;
    max-height: 72px;
    max-width: 749px;
    margin: 0 auto;
}

button.button {
   padding: 12px 37px;
   text-transform: none;
   font-size: 24px;
   border-radius: 25px;
   background-color: $btn-bg-color;
   box-shadow:none;
   color: #FFFFFF;	
   text-align: center;
   font-weight:bold;
   font-size: 15px;
   line-height: 19px;
   white-space: nowrap;
   cursor: pointer;
   border: none;
   &:hover {
     background-color: $btn--hover-bg-color;
   }
}

.formWrapper {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.form{
  padding: 10px 10px 10px 48px;
  border-radius: 42.5px;
  box-shadow: 0 10px 25px 0 rgba(172,185,196,0.28);
  display: inline-block;
}
.formInput{
  transform: translateY(5px);
  border:none;
  font-size: 20px;
  font-weight: 300;
  line-height: 30px;
  height: 30px;
  &::placeholder{
    font-weight: 300;
    color: #252827;
  }
}

.rewardWrapper {
    display: flex;
    width: 350px;
    height: 100px;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 10px 25px 0 rgba(172,185,196,0.28);
}

@media screen and (max-width: 768px) {
    .title{
      font-size: calc(20px + 1vw);
      line-height: 40px;
      text-align: center;
    }
    .titleBlock{
       margin-top:0;    
       margin-bottom:0;    
    }
    .subtitle{
      font-size: calc(14px + 1vw);
      line-height: normal;
      text-align: left;
    }
    .subtitleRed {
      font-size: 20px;
      line-height: 35px;
    }
}