.imagePaddingLeft{
  padding-left:20px;
}
.title{
  color: #C75561;
  font-size: 16px;
  font-weight: bold;
  margin-top: 9px;
  line-height: 30px;
  margin-bottom: 5px;
}
.text{
  color: #4A494B;
  font-size: 15px;
  line-height: 24px;
}
.rowSpacing{
  margin-bottom:22px;
}
@media screen and (max-width: 768px) {
  .imagePaddingLeft{
    padding-left:0;
    padding-top: 5px;
  }
  .title{
    font-size: calc(11px + 0.7vw);
    line-height: normal;
  }
  .text{
      font-size: calc(11px + 0.5vw);
      line-height: normal;
  }
}