@import "configs/color";
@import "configs/font-faces";


M/*uli-BlackItalic.ttf

Muli-BoldItalic.ttf

Muli-ExtraBoldItalic.ttf
Muli-ExtraLight.ttf
Muli-ExtraLightItalic.ttf
Muli-Italic.ttf
Muli-Light.ttf
Muli-LightItalic.ttf

Muli-SemiBoldItalic.ttf*/

   /*src: url('../../../public/fonts/Miriam.eot?#iefix') format('embedded-opentype'),
       url('../../../public/fonts/miriam-libre-v2-latin-regular.eot') format('woff2'),
       url('../../../public/fonts/miriam-libre-v2-latin-regular.woff') format('woff'),
       url('../../../public/fonts/miriam-libre-v2-latin-regular.ttf') format('truetype'),
       url('../../../public/fonts/miriam-libre-v2-latin-regular.svg') format('svg');*/

@font-face {
   font-family: 'Miriam';
   font-style: normal;
   font-weight: 400;
   src: url('../assets/fonts/Muli-ExtraBold.ttf'),
        url('../assets/fonts/Muli-SemiBold.ttf'),
        url('../assets/fonts/Muli-Regular.ttf'),
        url('../assets/fonts/Muli-Bold.ttf');
}

* {
  -webkit-touch-callout: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
}

/* IE10+ */
::-ms-clear,
::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}
html {
  height: 100%;
  overflow: auto!important;
}

::-webkit-search-cancel-button,
::-webkit-search-decoration,
::-webkit-search-results-button,
::-webkit-search-decoration {
  display: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  -webkit-text-size-adjust: none;
    background: #fff;
    color: #3c3c35;
    font-family: 'Muli', sans-serif;
    font-size: 14px;
    line-height: 24px;
    min-height: 100%;
    overflow: hidden;
    position: relative;
    margin: 0;
}
.journey {
  .container {
    > div {
      > div {
        > div {
          label.Mui-focused {
            color: $brand-color;

          }
        }
      }
    }
  }
}