.tab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 349px;
  border-radius: 10px;
  background: linear-gradient(180deg, #D6D4D7 0%, #A4A2A7 100%);
  box-shadow: 0 15px 25px 0 rgba(176,73,149,0.25);
}

.activeTab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 110px;
  width: 349px;
  border-radius: 10px;
  background: linear-gradient(315.52deg, #C861AD 0%, #FF7987 100%);
  box-shadow: 0 15px 25px 0 rgba(176,73,149,0.25);
}

.tabRow{
  display: flex;
  justify-content: space-between;
  margin-bottom: 2vw;
}
.tabText{
  color: #252827;
  font-family: Muli;
  font-size: 20px;
  line-height: 30px;
}

.textAuthor {
 color: #C75561;
 font-weight: bold;
 font-size: 15px;
 line-height: 19px;
 margin-top: 10px;
}

@media screen and (max-width: 1130px) {
  .textBlock{
    flex-basis: 70%;
    padding-left: 10px;
    flex-direction: column;
  }
  .tab,.activeTab{
    margin-bottom: 15px;
  }
  .tabRow{
    flex-basis:300px;
    flex-direction: column;
  }
  .mainWrapper{
    margin-top:20px;
    display: flex;
  }
}
@media screen and (max-width: 768px) {
  .text{
    font-size: calc(13px + 1vw);
    line-height: normal;
  }
  .textBlock{
    flex-basis: 80%;
  }
  .tabRow{
    flex-basis:20%;
  }
  .textAuthor{
    font-size: calc(11px + 0.6vw);
    line-height: normal;
  }
  .tab,.activeTab{
    flex-direction:column;
  }
}